.bookmark {
  header {
    .bookmark_logo {
      background: url('../images/logo-bookmark.svg');
      width: 148px;
      height: 25px;
      font-size: 0;
    }
    position: relative;
    .bookmark_header_img {
      width: 312px;
      position: absolute;
      top: 146px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}