.bookmark {
  header {
    padding: 40px 32px 0;
    position: relative;
    min-height: 724px;
    .logo_nav {
      display: flex;
      justify-content: space-between;
      .bookmark_logo {
        background: url('../images/logo-bookmark.svg');
        width: 148px;
        height: 25px;
        font-size: 0;
      }
      .bookmark_nav {
        .bookmark_nav_btn {
          background: url('../images/icon-hamburger.svg') no-repeat center center;
          font-size: 0;
          width: 18px;
          height: 15px;
          border: none;
        }
        // 弹出层
        ::v-deep .van-popup {
          height: 100vh;
          width: 100vw;
          background-color: hsla(229, 31%, 21%, 80%);
          .nav_logo_white {
            padding: 40px 34px 50px;
            ul {
              margin-top: 38px;
              li {
                height: 67px;
                line-height: 67px;
                text-align: center;
                a {
                  color: @grey-50;
                  letter-spacing: 0.2em;
                  font-weight: 400;
                  font-size: 17px;
                }
              }
            }
            .bookmark_login {
              background-color: transparent;
              color: @grey-50;
              border: 2px solid #fff;
              border-radius: 5px;
              width: 100%;
              height: 49px;
              margin-top: 25px;
              letter-spacing: 0.2em;
            }
            .bookmark_share_btn {
              display: flex;
              justify-content: center;
              margin-top: 210px;
              button {
                width: 24px;
                height: 24px;
                border: none;
                font-size: 0;
              }
              .facebook {
                background: url('../images/icon-facebook.svg') no-repeat center center;
              }
              .twitter{
                background: url('../images/icon-twitter.svg') no-repeat center center;
                margin-left: 46px;
              }
            }
          }
        }
        .desktop_nav {
          display: none;
        }
      }
    }
    // 蓝色背景
    .bookmark_bluebox {
      width: 300px;
      height: 204px;
      background-color: @blue-600;
      position: absolute;
      top: 197px;
      right: 0;
      border-radius: 0 0 0 90px;
    }
    .bookmark_header_img {
      max-width: 450px;
      width: 100%;
      position: absolute;
      top: 146px;
      left: 50%;
      transform: translateX(-50%);
    }
    .bookmark_intro {
      padding-top: 450px;
      h2 {
        font-size: 30px;
        color: @blue-950;
        text-align: center;
        font-weight: 500;
      }
      p {
        // 段落文字颜色
        margin-top: 20px;
        color: rgb(154, 155, 159);
        text-align: center;
        font-size: 15px;
        line-height: 25px;
      }
      .btn--flex {
        margin-top: 30px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        button {
          width: 152px;
          height: 48px;
          border: none;
          border-radius: 5px;
          font-weight: 500;
          font-size: 15px;
        }
        // 按钮字母颜色
        .bookmark_chrome_get {
          background-color: @blue-600;
          color: #fff;
        }
        .bookmark_firefox_get {
          color: rgb(88, 92, 103);
          width: 146px;
          background-color: rgb(247, 247, 249);
          box-shadow: 0 2px 4px rgba(4, 5, 95, 0.3);
          // box-shadow: [水平偏移] [垂直偏移] [模糊半径] [扩散半径] [颜色] [inset];
        }
      }
    }
  }
  main {
    margin-top: 120px;
    .bookmark_features {
      position: relative;
      padding: 32px;
      article {
        h2 {
          text-align: center;
          font-weight: 500;
          color: @blue-950;
        }
        p {
          margin-top: 13px;
          color: rgb(154, 155, 159);
          text-align: center;
          font-size: 15px;
          line-height: 25px;
        }
      }
      .bookmark_tabs {
        display: none;
      }
      ::v-deep .van-sidebar {
        width: 100%;
        margin-top: 40px;
        .van-sidebar-item {
          font-size: 16px;
          color: @blue-950;
          background-color: #fff;
          border-bottom: 1px solid #dfdfdf;
          text-align: center;
          &:first-child {
            border-top: 1px solid #dfdfdf;
          }
        }
        .van-sidebar-item--select {
          &::before {
            display: none;
            content: none;
          }
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 40%;
            height: 4px;
            background-color: @red-400;
          }
        }
      }
      .bookmark_tabs_img {
          margin-top: 73px;
          li {
            text-align: center;
            img {
              max-width: 500px;
              width: 100%;
            }
          }
        }
        
      .bookmark_sidebar_msg {
        margin-top: 78px;
        li {
          text-align: center;
          h3 {
            font-size: 24px;
            color: @blue-950;
          }
          p {
            margin-top: 13px;
            color: rgb(154, 155, 159);
            text-align: center;
            font-size: 15px;
            line-height: 25px;
          }
          button {
            display: none;
          }
        }
      }
      .bookmark_bluebox {
        position: absolute;
        width: 300px;
        height: 204px;
        background-color: @blue-600;
        top: 504px;
        z-index: -10;
        left: 0;
        border-radius: 0 90px 90px 0;
      }
    }
    .bookmark_extension {
      margin-top: 120px;
      padding: 0 47px;
      text-align: center;
      h2 {
        font-size: 23px;
        color: @blue-950;
      }
      p {
        margin-top: 16px;
        color: rgb(154, 155, 159);
        font-size: 15px;
        line-height: 25px;
      }
      .bookmark_card {
        li {
          margin-top: 40px;
          width: 100%;
          height: 374px;
          box-shadow: 0 3px 8px rgba(15, 18, 161, 0.1);
          border-radius: 10px;
          .bookmark_card_img {
            margin-top: 48px;
          }
          h3 {
            margin-top: 28px;
            font-size: 20px;
            color: @blue-950;
          }
          p {
            margin-top: 6px;
          }
          .btn {
            padding: 0 25px;
            button {
              width: 100%;
              height: 49px;
              background-color: @blue-600;
              color: #fff;
              border: none;
              border-radius: 5px;
              font-size: 14px;
              margin-top: 24px;
            }
          }
          .dots {
            background: url('../images/bg-dots.svg') repeat-x;
            font-size: 0;
            height: 5px;
            margin-top: 34px;
          }
        }
      }
    }
    .bookmark_faq {
      padding: 140px 32px 124px;
      display: flex;
      flex-direction: column;
      h2 {
        text-align: center;
        color: @blue-950;
      }
      p {
        margin-top: 18px;
        color: rgb(154, 155, 159);
        font-size: 15px;
        line-height: 25px;
        text-align: center;
      }
      ::v-deep .van-collapse {
        margin-top: 57px;
        .van-cell {
          padding-left: 0;
        }
        .van-collapse-item {
          .van-collapse-item__wrapper {
            .van-collapse-item__content {
              line-height: 30px;
              padding: 37px 0 27px;
              color: rgb(86, 100, 126)
            }
          }
        }
        .van-cell__right-icon {
          &::before {
            content: none;
            display: none;
          }
        }
        .van-collapse-item__title .van-cell__right-icon::after {
          content: '';
          background: url('../images/icon-arrow.svg') no-repeat center center;
          width: 18px;
          height: 12px;
          right: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.3s;
        }
        .van-collapse-item__title--expanded .van-cell__right-icon::after {
          background: url('../images/icon-arrow-open.svg') no-repeat center center;
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .bookmark_faq_btn {
        margin-top: 50px;
        align-self: center;
        width: 115px;
        height: 49px;
        border: none;
        background-color: @blue-600;
        color: #fff;
        border-radius: 5px;
        font-size: 14px;
      }
    }
  }
  footer {
    .bookmark_contact {
      height: 361px;
      background-color: @blue-600;
      color: #fff;
      padding: 72px 32px 38px;
      text-align: center;
      height: 100%;
      p {
        font-size: 13px;
        letter-spacing: 0.3em;
      }
      h4 {
        font-size: 23px;
        font-weight: 500;
        margin-top: 16px;
      }
      .bookmark_group {
        margin-top: 36px;
        input {
          width: 100%;
          height: 56px;
          border-radius: 5px;
          border: none;
          color: rgb(88, 92, 103);
          padding-left: 25px;
          &::placeholder {
            color: rgb(172, 173, 179);
          }
        }
        .error_inp {
          border: 2px solid @red-400;
        }
        .error_msg {
          position: relative;
          display: block;
          background-color: @red-400;
          font-size: 10px;
          text-align: left;
          height: 24px;
          top: -5px;
          line-height: 24px;
          padding: 0 0 0 14px;
          border-radius: 0 0 5px 5px;
        }
        .bookmark_btn_contact {
          margin-top: 20px;
          width: 100%;
          height: 56px;
          background-color: @red-400;
          border-radius: 5px;
          border: none;
        }
      }
      
    }
    .bookmark_share {
      background-color: @blue-950;
      color: #fff;
      display: flex;
      flex-direction: column;
      height: 385px;
      align-items: center;
      padding-top: 47px;
      .bookmark_logo {
        width: 170px;
        height: 30px;
      }
      ul {
        margin-top: 40px;
        li {
          margin-bottom: 36px;
          text-align: center;
          letter-spacing: 0.1em;
          a {
            color: @grey-50;
          }
        }
      }
      .share_btn {
        margin-top: 18px;
        button {
          width: 24px;
          height: 24px;
          border: none;
          font-size: 0;
        }
        .facebook {
          background: url('../images/icon-facebook.svg') no-repeat center center;
        }
        .twitter{
          background: url('../images/icon-twitter.svg') no-repeat center center;
          margin-left: 46px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .bookmark {
    header {
      padding: 46px 100px;
      min-height: 620px;
      .logo_nav {
        align-items: center;
        .bookmark_nav {
          .desktop_nav {
            display: flex;
            ul {
              display: flex;
              width: 295px;
              justify-content: space-between;
              margin-right: 50px;
              li {
                a {
                  color: @blue-950;
                  font-size: 12px;
                  letter-spacing: 0.1em;
                  line-height: 40px;
                  &:hover {
                    color: @red-400;
                  }
                }
              }
            }
            .bookmark_login {
              width: 112px;
              height: 40px;
              border: none;
              background-color: @red-400;
              border-radius: 5px;
              color: #fff;
              font-size: 12px;
              letter-spacing: 0.1em;
              &:hover {
                cursor: pointer;
                background-color: #fff;
                border: 2px solid @red-400;
                color: @red-400;
                font-weight: 500;
              }
            }
          }
          .bookmark_nav_btn {
            display: none;
          }
        }
      }
      .header-msg-img {
        .bookmark_header_img {
          left: 690px;
          top: 220px;
        }
        .bookmark_intro {
          padding-top: 193px;
          // max-width: 484px;
          max-width: 370px;
          text-align: left;
          h2 {
            text-align: left;
          }
          p {
            text-align: left;
            font-size: 18px;
          }
          .btn--flex {
            display: flex;
            justify-content: flex-start;
            .bookmark_chrome_get {
              margin-right: 16px;
              &:hover {
                background-color: #fff;
                border: 2px solid @blue-600;
                color: @blue-600;
                cursor: pointer;
              }
            }
            .bookmark_firefox_get {
              &:hover {
                background-color: #fff;
                border: 2px solid rgb(96, 96, 106);
                color: rgb(96, 96, 106);
                cursor: pointer;
              }
            }
          }
        }
        .bookmark_bluebox {
          top: 360px;
          // right: 0;
          right: -100px;
        }
      }
    }
    main {
      .bookmark_features {
        article {
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            width: 540px;
            font-size: 18px;
          }
        }
        .bookmark_sidebar {
          display: none;
        }
        .bookmark_tabs {
          display: block;
          margin-top: 60px;
          ::v-deep .van-tabs__wrap {
            font-size: 17px;
            .van-tab {
              border-bottom: 1px solid hsl(0, 0%, 84%);
              padding: 0 0 32px 0;
            }
            .van-tabs__line {
              width: 33%;
            }
            .van-tab__text {
              font-size: 17px;
              &:hover {
                color: @red-400;
              }
            }
          }
        }
        .feature_flex {
          display: flex;
          justify-content: space-between;
          .bookmark_sidebar_msg {
            width: 435px;
            margin-left: 20px;
            li {
              h3 {
                text-align: left;
              }
              p {
                font-size: 18px;
                text-align: left;
                line-height: 28px;
                margin-top: 23px;
              }
              button {
                display: block;
                width: 115px;
                height: 49px;
                margin-top: 34px;
                background-color: @blue-600;
                color: #fff;
                border: none;
                border-radius: 5px;
                &:hover {
                  background-color: #fff;
                  border: 2px solid @blue-600;
                  color: @blue-600;
                  font-weight: 500;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .bookmark_extension {
        p {
          width: 540px;
          margin: 16px auto 0;
          font-size: 18px;
        }
        .bookmark_card {
          display: flex;
          width: 100%;
          justify-content: space-between;
          li {
            width: 283px;
            p {
              width: 100%;
            }
            &:nth-child(2) {
              margin-top: 82px;
            }
            &:nth-child(3) {
              margin-top: 124px;
            }
            .btn {
              button {
                &:hover {
                  background-color: #fff;
                  border: 2px solid @blue-600;
                  color: @blue-600;
                  font-weight: 500;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .bookmark_faq {
        width: 544px;
        margin: 0 auto;
        padding: 140px 0 124px;
        p {
          font-size: 18px;
        }
        ::v-deep .van-collapse{
          .van-cell__title {
            span {
              font-size: 18px;
              &:hover {
                color: @red-400;
              }
            }
          }
          .van-collapse-item {
            .van-cell {
              line-height: 66px;
              padding: 0 16px 0 0;
            }
          }
          .van-collapse-item__title .van-cell__right-icon::after {
            right: 0;
            top: 32px;
          }
          .van-collapse-item__content {
            font-size: 16px;
          }
        }
        .bookmark_faq_btn {
          &:hover {
            background-color: #fff;
            border: 2px solid @blue-600;
            color: @blue-600;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
    footer {
      .bookmark_contact {
        h4 {
          width: 445px;
          margin: 16px auto 0;
        }
        .bookmark_group {
          margin: 36px auto;
          width: 445px;
          display: flex;
          justify-content: space-between;
          .error_inp {
            width: 303px;
          }
          input {
            width: 303px;
          }
          .bookmark_btn_contact {
            width: 128px;
            margin-top: 0;
            &:hover {
              background-color: #fff;
              border: 2px solid @red-400;
              color: @red-400;
              cursor: pointer;
              font-weight: 500;
            }
          }
        }
      }
      .bookmark_share {
        flex-direction: row;
        height: 89px;
        padding: 0 100px;
        ul {
          display: flex;
          width: 295px;
          justify-content: space-between;
          margin-left: 65px;
          margin-top: 0;
          li {
            line-height: 55px;
            margin-bottom: 0;
            a {
              &:hover {
                color: @red-400;
              }
            }
          }
        }
        .share_btn {
          margin-top: 0;
          flex: 1;
          text-align: right;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .bookmark {
    header {
      padding: 46px 0 0;
      margin: 0 auto;
      width: 1185px;
      .logo_nav {
        width: 1105px;
        margin: 0 auto;
      }
      .header-msg-img {
        margin: 0 auto;
        .bookmark_bluebox {
          height: 354px;
          right: 0;
          width: 520px;
          border-radius: 180px 0 0 180px;
        }
        .bookmark_header_img {
          max-width: 655px;
          top: 202px;
          left: 830px;
        }
        .bookmark_intro {
          max-width: 484px;
          h2 {
            font-size: 48px;
          }
        }
      }
    }
    main {
      .bookmark_features {
        padding: 40px 170px 0;
      }
      ::v-deep .van-tabs__nav {
        max-width: 730px;
        margin: 0 auto;
      }
      .feature_flex {
        width: 1105px;
        margin: 0 auto;
        .bookmark_tabs_img {
          li {
            max-width: 537px;
          }
        }
        .bookmark_sidebar_msg {
          margin: 140px 0 0 20px;
          li {
            h3 {
              font-size: 30px;
            }
          }
        }
      }
      .bookmark_bluebox {
        min-height: 354px;
        min-width: 600px;
        left: 0;
        top: 400px !important;
        border-radius: 0 180px 180px 0 !important;
      }
      .bookmark_extension {
        margin-top: 244px;
        h2 {
          font-size: 30px;
        }
        p {
          margin: 26px auto;
        }
        .bookmark_card {
          width: 912px;
          margin: 0 auto;
        }
      }
      .bookmark_faq {
        h2 {
          font-size: 30px;
        }
      }
    }
    footer {
      .bookmark_contact {
        h4 {
          margin: 30px auto 0;
          font-size: 30px;
        }
      }
      .bookmark_share {
        padding: 0 250px;
      }
    }
  }
}