.bookmark header {
  position: relative;
}
.bookmark header .bookmark_logo {
  background: url('../images/logo-bookmark.svg');
  width: 148px;
  height: 25px;
  font-size: 0;
}
.bookmark header .bookmark_header_img {
  width: 312px;
  position: absolute;
  top: 146px;
  left: 50%;
  transform: translateX(-50%);
}
.bookmark main ::v-deep .van-sidebar {
  background-color: pink;
  width: 100%;
}
.bookmark main ::v-deep .van-sidebar .van-sidebar-item {
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  text-align: center;
}
.bookmark main ::v-deep .van-sidebar .van-sidebar-item--select::before {
  display: none;
  content: none;
}
.bookmark main ::v-deep .van-sidebar .van-sidebar-item--select::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: pink;
}
